# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Load the dataset

In [2]:
df = pd.read_excel("DS_jobs.xlsx")
df

,index,Job Title,Salalry_min,Salalry_max,Avg_salary,Rating,Company Name,Location,State,Size,Founded,Company_age,Type of ownership,Industry,Sector,Revenue
0,0,Sr Data Scientist,137,171,154.0,3.1,Healthfirst,New York,NY,1001 - 5000 employees,1993,30,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,1,Data Scientist,137,171,154.0,4.2,ManTech,Chantilly,VA,5001 - 10000 employees,1968,55,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,2,Data Scientist,137,171,154.0,3.8,Analysis Group,Boston,MA,1001 - 5000 employees,1981,42,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,3,Data Scientist,137,171,154.0,3.5,INFICON,Newton,MA,501 - 1000 employees,2000,23,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,137,171,154.0,2.9,Affinity Solutions,New York,NY,51 - 200 employees,1998,25,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,663,Data Scientist,105,167,136.0,4.1,A-Line Staffing Solutions,Durham,NC,501 - 1000 employees,2004,19,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
550,665,Data Scientist,105,167,136.0,3.8,"Criterion Systems, Inc.",Vienna,VA,201 - 500 employees,2005,18,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
551,666,Data Scientist,105,167,136.0,4.0,Foundation Medicine,Boston,MA,1001 - 5000 employees,2010,13,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
552,667,Data Scientist,105,167,136.0,3.6,TRANZACT,Fort Lee,NJ,1001 - 5000 employees,1989,34,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
553,671,Data Scientist,105,167,136.0,2.7,1-800-Flowers,New York,NY,1001 - 5000 employees,1976,47,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

# Checking the data shape

In [3]:
df.shape

(554, 16)

# Checking the data information

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              554 non-null    int64
 1   Job Title          554 non-null    object
 2   Salalry_min        554 non-null    int64
 3   Salalry_max        554 non-null    object
 4   Avg_salary         554 non-null    float64
 5   Rating             554 non-null    float64
 6   Company Name       554 non-null    object
 7   Location           554 non-null    object
 8   State              544 non-null    object
 9   Size               554 non-null    object
 10  Founded            554 non-null    int64
 11  Company_age        554 non-null    int64
 12  Type of ownership  554 non-null    object
 13  Industry           554 non-null    object
 14  Sector             554 non-null    object
 15  Revenue            554 non-null    object
dtypes: float64(2), int64(4), object(10)
memory usage: 69.4+ KB

In [5]:
df.dtypes

index                  int64
Job Title             object
Salalry_min            int64
Salalry_max           object
Avg_salary           float64
Rating               float64
Company Name          object
Location              object
State                 object
Size                  object
Founded                int64
Company_age            int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
dtype: object

Let's check the statistics in data

In [6]:
df.describe()

,index,Salalry_min,Avg_salary,Rating,Founded,Company_age
count,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000
mean,312.705776,97.384477,120.277978,3.864982,1984.104693,38.895307
std,195.804692,32.049609,36.757789,0.637072,40.653609,40.653609
min,0.000000,31.000000,43.500000,-1.000000,1781.000000,4.000000
25%,140.250000,79.000000,103.000000,3.500000,1974.000000,13.000000
50%,297.500000,90.000000,114.000000,3.800000,1999.000000,24.000000
75%,482.750000,112.000000,136.000000,4.300000,2010.000000,49.000000
max,671.000000,212.000000,271.500000,5.000000,2019.000000,242.000000

To check which job title is more in the dataset

In [7]:
df['Job Title'].value_counts().head()

Data Scientist               238
Data Engineer                 25
Senior Data Scientist         15
Machine Learning Engineer     14
Data Analyst                  12
Name: Job Title, dtype: int64

So, from this we can say that the top 5 profiles are Data Scientist, Data Engineer, Senior Data Scientist, Machine Learning Engineer and Data Analyst

#

# Data Cleaning

I've cleaned the dataset and manipulated some columns in the excel.

Those were:
- Calculated the Average salary.
- Split the rating of the company from company column.
- Removed the job description column.
- Calculated the company age from the Founded column.

In [8]:
df.isnull().sum()

index                 0
Job Title             0
Salalry_min           0
Salalry_max           0
Avg_salary            0
Rating                0
Company Name          0
Location              0
State                10
Size                  0
Founded               0
Company_age           0
Type of ownership     0
Industry              0
Sector                0
Revenue               0
dtype: int64

In [12]:
df.shape

(554, 16)

In [13]:
df = df.dropna()

In [14]:
df.shape

(544, 16)